@use 'sass:color';

$scorePerfectMatchBg: #e467b8;
$scorePerfectMatchFg: #e467b8;
$scoreMatchBg: #317bd0;
$scoreMatchFg: #317bd0;
$scoreWeakMatchBg: #208601;
$scoreWeakMatchFg: #208601;
$scoreWeakMismatchBg: #606060;
$scoreWeakMismatchFg: #606060;
$scoreMismatchBg: #ab0000;
$scoreMismatchFg: #ab0000;

$scoreStandoutMatchBorderColor: #317bd0;
$scoreStandoutMatchBgColor: rgba(49, 123, 208, 0.47);
$scoreStandoutWeakMatchBorderColor: rgb(18, 72, 1);
$scoreStandoutWeakMatchBgColor: rgba(18, 72, 1, 0.4);
$scoreStandoutNeutralBorderColor: rgba(0, 0, 0, 0);
$scoreStandoutWeakMismatchBorderColor: #888;
$scoreStandoutWeakMismatchBgColor: rgba(170, 170, 170, 0);
$scoreStandoutMismatchBorderColor: #ab0000;

$genders: (
  'shemale': #e2445f,
  'herm': #d40759,
  'none': $gray-500,
  'female': #66ff74,
  'male': #6699ff,
  'male-herm': #007fff,
  'transgender': #ee8822,
  'cunt-boy': #63ee22
);

@each $gender, $color in $genders {
  .gender-#{$gender},
  .gender-icon-#{$gender} {
    --gender-color: #{$color};
  }

  .gender-icon-#{$gender} {
    color: var(--gender-color);
  }

  .message-event .gender-#{$gender},
  .message-event .gender-icon-#{gender} {
    --gender-color: #{color.scale($color, $lightness: 5%)};
  }
}
